In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [4]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [5]:
movies.shape

(4803, 20)

In [6]:
credits.shape

(4803, 4)

In [7]:
credits.rename(columns={'movie_id':'id'},inplace = True)

In [8]:
credits.head(2)

,id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [9]:
movies = movies.merge(credits,on='id')

In [10]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [11]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 900.6+ KB

In [12]:
movies = movies[['id','title_y','overview','genres','keywords','cast','crew']]

In [13]:
movies.rename(columns={'title_y':'title'},inplace = True)

In [14]:
movies.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [19]:
movies.isnull().sum()

id          0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [16]:
movies.dropna(inplace = True)

In [17]:
movies.duplicated().sum()

0

In [20]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [21]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [22]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
            L.append(i['name'])
    return L

In [23]:
movies['genres'] = movies['genres'].apply(convert)

In [24]:
movies['keywords'] = movies['keywords'].apply(convert)

In [25]:
movies.sample(5)

,id,title,overview,genres,keywords,cast,crew
3429,1591,Nowhere in Africa,A Jewish woman named Jettel Redlich flees Nazi...,[Drama],"[loss of family, emigration, world war ii, jew...","[{""cast_id"": 17, ""character"": ""Jettel Redlich""...","[{""credit_id"": ""52fe4302c3a36847f803392f"", ""de..."
2951,86829,Inside Llewyn Davis,"In Greenwich Village in the early 1960s, gifte...","[Drama, Music]","[folk music, performance, aspiring singer, new...","[{""cast_id"": 10, ""character"": ""Llewyn Davis"", ...","[{""credit_id"": ""52fe49a39251416c910b3b77"", ""de..."
1127,11560,High Crimes,High powered lawyer Claire Kubik finds her wor...,"[Drama, Mystery, Thriller, Crime]","[based on novel, witness, village, court, love...","[{""cast_id"": 1, ""character"": ""Claire Chapman"",...","[{""credit_id"": ""597aa90cc3a368374c004c53"", ""de..."
2001,19150,The Crew,Four retired mobsters plan one last crime to s...,"[Action, Comedy]",[],"[{""cast_id"": 1, ""character"": ""Bobby Bartelleme...","[{""credit_id"": ""52fe47bf9251416c750a41d5"", ""de..."
410,62764,Mirror Mirror,"After she spends all her money, an evil enchan...","[Adventure, Fantasy, Drama, Comedy, Science Fi...","[attempted murder, fairy tale, black magic, co...","[{""cast_id"": 5, ""character"": ""Evil Queen"", ""cr...","[{""credit_id"": ""52fe468dc3a368484e096f15"", ""de..."

In [26]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [27]:
movies['cast']=movies['cast'].apply(convert3)

In [28]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [29]:
movies['crew']=movies['crew'].apply(fetch_director)

In [30]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [31]:
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" "," ") for i in x])

In [32]:
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" "," ") for i in x])

In [33]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" "," ") for i in x])

In [34]:
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" "," ") for i in x])

In [35]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [36]:
movies.sample(5)

,id,title,overview,genres,keywords,cast,crew,tags
3386,11687,The Visitors,"[This, outrageous, time-travel, comedy, follow...","[Fantasy, Comedy, Science Fiction]","[servant, time travel, clumsy fellow, middle a...","[Jean Reno, Valérie Lemercier, Christian Clavier]",[Jean-Marie Poiré],"[This, outrageous, time-travel, comedy, follow..."
113,675,Harry Potter and the Order of the Phoenix,"[Returning, for, his, fifth, year, of, study, ...","[Adventure, Fantasy, Family, Mystery]","[prophecy, witch, loss of lover, magic, cuttin...","[Daniel Radcliffe, Rupert Grint, Emma Watson]",[David Yates],"[Returning, for, his, fifth, year, of, study, ..."
4368,9707,Bubba Ho-tep,"[Bubba, Ho-tep, tells, the, ""true"", story, of,...","[Comedy, Horror, Thriller, Mystery, Fantasy]","[john f. kennedy, elvis presley]","[Bruce Campbell, Ossie Davis, Ella Joyce]",[Don Coscarelli],"[Bubba, Ho-tep, tells, the, ""true"", story, of,..."
2859,3635,Girl with a Pearl Earring,"[This, film,, adapted, from, a, work, of, fict...","[Drama, Romance]","[painter, biography, painting, maid]","[Scarlett Johansson, Colin Firth, Cillian Murphy]",[Peter Webber],"[This, film,, adapted, from, a, work, of, fict..."
4689,37985,The Trials Of Darryl Hunt,"[""The, Trials, of, Darryl, Hunt"", is, a, featu...",[Documentary],[woman director],[],[Ricki Stern],"[""The, Trials, of, Darryl, Hunt"", is, a, featu..."

In [37]:
df = movies[['id', 'title', 'tags']]

In [38]:
df.sample(5)

,id,title,tags
3205,43418,Beneath Hill 60,"[The, true, story, of, Australia's, cat-and-mo..."
4741,360188,Queen Crab,"[A, meteor, crashes, into, a, quiet, lake, in,..."
3125,16358,Eulogy,"[A, black, comedy, that, follows, three, gener..."
4366,13508,Who Killed the Electric Car?,"[In, 1996,, electric, cars, began, to, appear,..."
1228,8457,Drillbit Taylor,"[Three, kids, hire, a, low-budget, bodyguard, ..."

In [39]:
df['tags'] = df['tags'].apply(lambda x:" ".join(x))

<ipython-input-39-d905a23bdc75>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x:" ".join(x))

In [40]:
df.head()

,id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [41]:
df['tags'] = df['tags'].apply(lambda x:x.lower())

<ipython-input-41-f0a9af75070b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x:x.lower())

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [47]:
cv.fit_transform(df['tags']).toarray().shape

(4800, 5000)

In [48]:
vct = cv.fit_transform(df['tags']).toarray()

In [52]:
vct[9]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [55]:
import nltk

In [56]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [65]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [71]:
df['tags'][60]

'miser ebenezer scrooge is awakened on christmas eve by spirits who reveal to him his own miserable existence, what opportunities he wasted in his youth, his current cruelties, and the dire fate that awaits him if he does not change his ways. scrooge is faced with his own story of growing bitterness and meanness, and must decide what his own future will hold: death or redemption. animation drama holiday based on novel victorian england money christmas eve scrooge christmas carol ghost lesson charles dickens christmas gary oldman jim carrey steve valentine robert zemeckis'

In [72]:
stem('miser ebenezer scrooge is awakened on christmas eve by spirits who reveal to him his own miserable existence, what opportunities he wasted in his youth, his current cruelties, and the dire fate that awaits him if he does not change his ways. scrooge is faced with his own story of growing bitterness and meanness, and must decide what his own future will hold: death or redemption. animation drama holiday based on novel victorian england money christmas eve scrooge christmas carol ghost lesson charles dickens christmas gary oldman jim carrey steve valentine robert zemeckis')

'miser ebenez scroog is awaken on christma eve by spirit who reveal to him hi own miser existence, what opportun he wast in hi youth, hi current cruelties, and the dire fate that await him if he doe not chang hi ways. scroog is face with hi own stori of grow bitter and meanness, and must decid what hi own futur will hold: death or redemption. anim drama holiday base on novel victorian england money christma eve scroog christma carol ghost lesson charl dicken christma gari oldman jim carrey steve valentin robert zemecki'

In [75]:
df['tags'] = df['tags'].apply(stem)

<ipython-input-75-9c043b76a2e3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(stem)

In [77]:
from sklearn.metrics.pairwise import cosine_similarity

In [79]:
cosine_similarity(vct)

array([[1.        , 0.06839856, 0.04916051, ..., 0.03121953, 0.05309942,
        0.        ],
       [0.06839856, 1.        , 0.04259177, ..., 0.04057204, 0.        ,
        0.        ],
       [0.04916051, 0.04259177, 1.        , ..., 0.01944039, 0.08817334,
        0.        ],
       ...,
       [0.03121953, 0.04057204, 0.01944039, ..., 1.        , 0.06299408,
        0.03253   ],
       [0.05309942, 0.        , 0.08817334, ..., 0.06299408, 1.        ,
        0.03688556],
       [0.        , 0.        , 0.        , ..., 0.03253   , 0.03688556,
        1.        ]])

In [80]:
cosine_similarity(vct).shape

(4800, 4800)

In [104]:
sim_matrix = cosine_similarity(vct)

In [105]:
def recom(movie):
    index = df[df['title'] == movie].index[0]
    distances = sim_matrix[index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key = lambda x:x[1])[1:6]
    for i in movie_list:
        print(df.iloc[i[0]].title)

In [106]:
recom('Batman')

Batman & Robin
Batman Returns
Batman Begins
The Dark Knight Rises
The Dark Knight

In [107]:
df.sample(34)

,id,title,tags
1002,10796,The One,a sheriff' deputi fight an altern univers vers...
4236,66025,Mooz-lum,thank to a strict muslim upbring that larg shi...
3333,29064,The Omega Code,"in thi spiritu thriller, an ancient propheci i..."
4471,74510,Kevin Hart: Laugh at My Pain,experi the show that quickli becam a nation ph...
1392,9957,The Benchwarmers,a trio of guy tri and make up for miss opportu...
419,8247,Jumper,"david rice is a man who know no boundaries, a ..."
4305,114065,Down & Out With The Dolls,"the raunchy, spunki tale of the rise and fall ..."
2943,11184,Kinsey,"kinsey is a portrait of research alfr kinsey, ..."
3267,23570,The Pallbearer,aspir architect tom thompson is told by myster...
858,145220,Muppets Most Wanted,"while on a grand world tour, the muppet find t..."
2837,101267,Katy Perry: Part of Me,give fan unpreced access to the real life of t...
4624,250184,Locker 13,"the stori of skip, a young ex-convict who take..."
1481,202575,Thunder and the House of Magic,"thunder, an abandon young cat seek shelter fro..."
4565,4107,Bloody Sunday,the dramatis stori of the irish civil right pr...
3119,39055,Free Style,cale bryant is determin to win a covet spot on...
2163,9954,The Covenant,four young men who belong to a supernatur lega...
4530,96238,Never Again,two peopl who have pledg never to fall in love...
2148,243,High Fidelity,when record store owner rob gordon get dump by...
4031,1698,Anatomy,medic student paula hen win a place at an excl...
2919,10377,My Cousin Vinny,two carefre pal travel through alabama are mis...
2387,8408,Day of the Dead,"the final chapter of georg a. romero' ""dead tr..."
1739,13092,How to Lose Friends & Alienate People,a british writer struggl to fit in at a high-p...
2859,3635,Girl with a Pearl Earring,"thi film, adapt from a work of fiction by auth..."
1199,1579,Apocalypto,"set in the mayan civilization, when a man' idy..."
1271,19898,Pandorum,two crew member wake up on an abandon spacecra...
3724,270938,Falcon Rising,"chapman is an ex-marin in brazil' slums, battl..."
2025,228194,The Hundred-Foot Journey,a stori center around an indian famili who mov...
431,9986,Charlotte's Web,wilbur the pig is scare of the end of the seas...
833,8584,Shanghai Noon,"chon wang, a clumsi imperi guard trail princes..."
3763,1809,The Rules of Attraction,the incred spoil and overprivileg student of c...
4563,15239,The Toxic Avenger,tromavil ha a monstrou new hero. the toxic ave...
4201,11426,From Here to Eternity,"in 1941 hawaii, a privat is cruelli punish for..."
4647,109729,The Canyons,the discoveri of an illicit love affair lead t...
195,181533,Night at the Museum: Secret of the Tomb,when the magic power of the tablet of ahkmenra...

In [108]:
import pickle

In [109]:
pickle.dump(df,open('movie_list.pkl','wb'))
pickle.dump(sim_matrix,open('similarity.pkl','wb'))

In [110]:
df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [111]:
pickle.dump(df.to_dict(),open('movie_dict.pkl','wb'))